[submodule "types"]
	path = types
	url = git@github.com:kosorin/awesome-code-doc
[submodule "vendor/bling"]
	path = vendor/bling
	url = git@github.com:willothy/bling
[submodule "vendor/rubato"]
	path = vendor/rubato
	url = git@github.com:andOrlando/rubato
